@font-face {
    font-family: Sans;
    src: url('Iranian Sans.ttf');
    font-weight: normal;
}
.Sans
{
    font-family: Sans !important;

}


.d-title {
    height: 46vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}
