@font-face {
    font-family: sahel;
    src: url(Sahel-FD-WOL.woff);
    font-weight: 400
}

* {
    font-family: sahel !important;
    font-size: 14px
}

.d-title {
    height: 46vmax;
    display: flex;
    align-items: center;
    justify-content: center
}