@font-face {
    font-family: Vaziren;
    src: url(Vazir.woff);
    font-weight: 400
}

.vaziren-font {
    font-family: vaziren!important;
    font-size: 14px
}

.d-title {
    height: 46vmax;
    display: flex;
    align-items: center;
    justify-content: center
}